*{
    box-sizing: border-box;
    color: #333;
}

input{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

label{
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    font-size: 14px;
    padding: 10px 25px;
    background-color: #333;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    margin-bottom: 15px;
  }
body{
    margin: 0px;
    width: 100%;
    background-color: whitesmoke;
    font-family:'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
footer{
    position: absolute;
    margin: 0px;
    height: 15vh;
    min-width: 100%;
    column-span: all;
    text-align: center;
    background-color: #333;
}

button {
    width: 100px;
    height: 35px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }

h1{
    letter-spacing: 2px;
    font-weight: 600;
    text-align: center;
    flex-basis: 100%;
}
.info p{
    font-size: 11px;
    font-weight: lighter;
    letter-spacing: 1.5px;
    color:#fff;
}
.container{
    min-height: 85vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.icon{
    margin-left: 3px;
}
.form{
    height: 200px;
    width: 300px;
    margin: 10px 50px 20px;
    background: linear-gradient(to right, #84fab0,#8fd3f4);
    background-size: 100% 100%;
    animation: animateBg 3s ease infinite;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
    padding: 50px;
    border-radius: 10px;
    position: relative;
    text-align: center;
}
input, button {
    margin: 10px;
  }
.output-badge{
    flex-basis: 30%;
    font-weight:300;
    display: inline-block;
    padding: 3px 6px;
    margin-right: 6px;
    background-color: #333;
    color:whitesmoke;
    border-radius: 3px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
    
}
.break {
    flex-basis: 100%;
    height: 0;
    margin: 0;
  }
.warning{
    height: fit-content;
    margin: 0;
}
.invisible{
    display: none;
}
.loader{
    text-align: center;
    flex-basis: 100%;
    margin: 20px 50px 20px;
}
.output {
    text-align: center;
    flex-basis: 100%;
    margin: 0px 50px 50px;
}
.output p{
    margin: 0px 0px 15px;
}
.line {
    animation: expand 1s ease-in-out infinite;
    border-radius: 10px;
    display: inline-block;
    transform-origin: center center;
    margin: 0 3px;
    width: 2px;
    height: 25px;
}

.line:nth-child(1) {
    background: #27ae60;
}

.line:nth-child(2) {
    animation-delay: 180ms;
    background: #f1c40f;
}

.line:nth-child(3) {
    animation-delay: 360ms;
    background: #e67e22;
}

.line:nth-child(4) {
    animation-delay: 540ms;
    background: #2980b9;
}

@keyframes expand {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(2);
    }
}

