{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}?{% now 'U' %}">
    <title>Accoustic Master</title>
</head>
<body>
    <div class="container">
        <h1 style="margin: 50px 50px 0px;">Accoustic Master</h1>
        {%block content%}

        {%endblock%}
    </div>
    
    <footer>
        <div class="info">
            <p>My knowledge is limited but I am able to distinguish the following sounds:</p>

            <p>Cello, Clarinet, Flute, Accoustic Guitar, Electric Guitar, Organ, Piano, Saxophone, Trumpet, Violin, Human Voice</p>
        </div>
    </footer>
    <script src="{% static 'main.js' %}?{% now 'U' %}"></script>
</body>

</html>
