{% extends 'base_layout.html' %}
{% load static %}
{% block content %}
    <div class="form">
        <form method= "POST" enctype="multipart/form-data">
            {%csrf_token %}
            <div class="file-input">
                <label for="file">
                    Select Audio
                    <img class='icon' src="{% static 'icon.svg' %}" width="15" height="15" alt="icon">
                </label>
                <input type="file" id="file" name="audiofile">
                <div class="selected-file"></div>
            </div>
            <button class="submit-btn" type="Upload">submit</button>
        </form>
    </div>
     
{% endblock %}
    
