{% extends 'base_layout.html' %}
    {% block content %}

<div class="form">
    <form method= "POST" enctype="multipart/form-data">
        {%csrf_token %}
        <div class="file-input">
            <label for="file">Upload audio file</label>
            <input type="file" id="file" name="audiofile">
            <div class="selected-file"></div>
        </div>
        <button class="submit-btn" type="Upload">submit</button>
    </form>
</div>
    <section class="output">
    </section>
      
    {% endblock %}
